* {
    font-family: Verdana;
    margin:0;
    padding:0;
}

/* Nav */
nav {
    position: block;
    background: #FFD900;
    width: 100%;
    height: 10vh;
    border: 0px;
}

nav img{
    margin-top: 1em;
    margin-left: 3em;
}

/* Main section*/

section{
    display: grid;
    grid-auto-flow: column;
}

#main-text{
    background: #514988;
    width: 45vw;
    height: 70vh;
}

#main-text h1{
    color: #FFD900;
    text-transform: uppercase;
    padding-top: 4vh;
    text-align: center;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#main-text h3 {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    padding-top: 5vh;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#main-text p{
    color: #fff;
    text-align: center;
    margin-top: 45px ;
    font-family: Verdana;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Count/video section */
#count-text{
    margin-left: 40px;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 15px;
    color: #E33881;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#timer {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 90px;
    width: 50vw;
    margin-left: 35px;
    margin-top: 20px;
}

#timer h1{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 60px;
    color: #514988;
    width: 100%;
    font-size: 60px;
    font-weight: 700;
}

/* Tickets Section */

#tickets {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    margin-top: 20px;
    margin-left: 15px;
}

#tickets h1{
    color: #FFD900;
    text-transform: uppercase;
    margin-left: 25px;
    margin-bottom: 25px;
    padding: 5px 0px 5px 0px;
    font-size: 27px;
}

#tickets img{
    margin-left: 15px ;
    margin-bottom: 50px;
}

/* Button */
#botao{
    background-color: #514988;
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    width: 460px;
    height: 108px;
    border: 0;
    border-radius: 20px;
    cursor: pointer;
}

#form{
    background-color: #FFD900;
}

input{
    background-color: #514988;
    border-radius:10px;
    color: #FFFFFF;
    border: 0pt;
    margin: 30px;
    padding-left: 15px;
    width: 300px;
    height: 50px;
    font-size: 30px;
}

#botao:hover {
    color: #FFD900;
    transform: translateY(-7px);
    transition-duration: 0.5s;
    box-shadow: 0px 15px 20px #0c3a4d93;
}

.card-highlight{
    box-shadow: 0px 5px 10px grey;
    transform: translateY(-5px);
    transition-duration: 0.5s;
}

.card-selected{
    border: 5px solid green ;
}